<script>
$(function() {
    $('#left_chat_submit').on('click', function() {
      $.post('/ohoh/send_msg', {content: $('#left_chat_text').val(), type: "chat1"})
      .done(function(e) {
        $("#left_chat_text").val("").focus();
        });
    });
    $('#right_chat_submit').on('click', function() {
      $.post('/ohoh/send_msg', {content: $('#right_chat_text').val(), type: "chat2"})
      .done(function(e) {
        $("#right_chat_text").val("").focus();
        });
      });
    $('#left_chat_text').on('keydown', function(e) {
      if (e.ctrlKey && e.keyCode == 13) {
        $('#left_chat_submit').trigger('click');
      }
      });
    $('#right_chat_text').on('keydown', function(e) {
      if (e.ctrlKey && e.keyCode == 13) {
        $('#right_chat_submit').trigger('click');
      }
      });
});
</script>
<div id="all" style="height: 100vh; overflow: hidden">
<nav class="navbar navbar-default navbar-static-top" style="background-color:#093052; border: none; height: 10vh; overflow: hidden">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav navbar-nav navbar-left" style="margin-right: 50px">
            <li><a href="#" onclick="mode_change();"><span id="mode_icon" style="color: white" class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="/serengetalk.png" style="display: block; width: 300px; margin: 0 auto; text-align: center;">
        </div>
        <div class="col-md-3">
          <ul class="nav navbar-nav navbar-right" style="margin-right: 50px">
            <li><a href="#" style="color:white">[<%=current_user.univ%>] <%=current_user.name%></a></li>
            <li><a href="/users/sign_out" data-method="delete" style="color:white">로그아웃</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class = "talk" style="height: 90vh">
  <div class="col-md-12 timer" style="height: 10vh">
    <div class="countdown" style="zoom: 0.7"></div>
  </div>
  <!--
  <center><h5 style="color:white;">SerengeTALK은 생각없고 싶은 분, 할 거 없는 분들이 쓸데없는 얘기를 하고 싶을 때 사용할 곳입니다.</h5></center>
  <center><h5 style="color:white;">참고로 위 숫자가 00:00:00이 되는 순간 멋쟁이 사자처럼 3기 공식활동은 끝납니다. 하하하 모두 안녕</h5></center>
  -->
<style>
.flip-clock-label {
  display: none;
}
textarea {
  display: block;
  margin: 0 auto;
}
input {
  display: block;
  margin: 0 auto;
}
</style>
  <div class="chatting" style="height: 80vh">
    <div class="col-sm-6 a">
      <div class = "wrapper">
        <div class = "section">
          <textarea id="left_chat_text" class="textarea1" rows="1" cols="50" name="content" placeholder="Ctrl + Enter로 전송"></textarea><br>
          <input id="left_chat_submit" class="button1" type="submit" value="떠들기"><br>
          <div id="left_chat_list" style="height: 50vh; overflow: auto">
            <% @chat1.each do |p| %>
              <%=render partial: "chat", locals: {post: p, type: "chat1"}%>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 b">
      <div class = "wrapper">
        <div class = "section">
          <textarea id="right_chat_text" class = "textarea2" rows="1" cols="50" name="content" placeholder="QnA"></textarea><br>
          <input id="right_chat_submit" class="button2" type="submit" value="질답하기"><br>
          <div id="right_chat_list" style="height: 50vh; overflow: auto">
            <% @chat2.each do |p| %>
              <%=render partial: "chat" ,locals: {post: p, type: "chat2"}%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<audio src="https://github.com/wilson428/metronome/blob/master/tick.wav?raw=true" id="tick"></audio>

<script>
var on_sound = false;
///////////////// END TIME /////////////////
var goal = new Date("09/20/2015 05:00:00");
////////////////////////////////////////////
var now = new Date();
var rest = (goal - now) / 1000;
var clock = $('.countdown').FlipClock(rest, {
countdown: true,
callbacks: {
interval: function() {
if (on_sound == true)
document.getElementById("tick").play();
}
}
})
var is_active = true;
var isOldTitle = true;
var oldTitle = "SerengeTalk";
var newTitle = "SerengeTalk";
var interval = null;
function changeTitle() {
  document.title = isOldTitle ? oldTitle : newTitle;
  isOldTitle = !isOldTitle;
}

$(window).focus(function () {
    is_active = true;
    clearInterval(interval);
    $("title").text(oldTitle);
    });
$(window).blur(function() {
    is_active = false;
    });
$("#left_chat_list").blur(function() {
  $(this).css("background-color", "red");
  alert("blur");
});
$("#left_chat_list").focus(function() {
  $(this).css("background-color", "blue");
  alert("focus");
});
$(document).ready(function() {
    var client = new Faye.Client('/faye');
    client.subscribe('/news', function(data) {
      $.get("/ohoh/post?id="+data.id, function(result, status) {
        if(data.chat_type == "chat1") {
        $("#left_chat_list").prepend(result);
        } else if(data.chat_type == "chat2") {
        $("#right_chat_list").prepend(result);
        }
        if(is_active == false) {
        newTitle = data.content;
        clearInterval(interval);
        interval = setInterval(changeTitle, 500);
        }
        });
      });
    });
var is_one_mode = true;
function mode_change() {
  if(is_one_mode){
    $("#all").css("height", "100%").css("overflow", "auto");
    $("#left_chat_list").css("height", "100%").css("overflow", "auto");
    $("#right_chat_list").css("height", "100%").css("overflow", "auto");
    $("#mode_icon").attr("class", "glyphicon glyphicon-object-align-top");
    is_one_mode = false;
  } else {
    $("#all").css("height", "100vh").css("overflow", "hidden");
    $("#left_chat_list").css("height", "50vh").css("overflow", "auto");
    $("#right_chat_list").css("height", "50vh").css("overflow", "auto");
    $("#mode_icon").attr("class", "glyphicon glyphicon-th-large");
    is_one_mode = true;
  }
}
</script>
